@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Spectral&display=swap');

/* This file includes all settings, classes and styles of pre-edited elements */

:root {
    --color-theme: white;
    --color-reverse: black;
    --color-reverse-light: rgb(31, 31, 31);
    --color-blur: rgba(255,255,255,0.6);
    --color-block-shadow: rgba(0,0,0,0.2);

    --color-first: rgb(19, 98, 218);
    --color-second: rgb(2, 184, 93);
    --color-third: rgb(156, 14, 221);
    --color-rainbow: linear-gradient(red, yellow, green, blue, purple, pink);

    --height-navbar: 90px;
    --height-navbar-scroll: 80px;
    --font-size-navbar: 1.05em;
    --font-size-text: 1em;
    --font-size-header: 1.5em;
    --font-weight: 500;
}
.dark {
    --color-theme: black;
    --color-reverse: white;
    --color-reverse-light: rgb(202, 202, 202);
    --color-blur: rgba(0,0,0,0.6);
    --color-block-shadow: rgba(255,255,255,0.2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    list-style: none;
    text-decoration: none;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight);
    font-family: "Poppins", sans-serif;
    transition: 0.275s;
    scroll-behavior: smooth;
    /* border: red 1px solid; */
}
body {
    min-height: 0;
    overflow-x: hidden;
    background: var(--color-theme);
    animation: flyingIn 0.75s;   
}
@keyframes flyingIn {
    0% {  opacity: 0; transform: translate(0, 10px);  }
    100% {  opacity: 1; transform: translate(0, 0);  }
}
::-webkit-scrollbar {  width: 3px;  }
::-webkit-scrollbar-thumb {  background-color: var(--color-first);  }


.flex {  display: flex;  }
.smart_button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: var(--font-size-navbar);
    color: white;
    transition: 0.6s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.effect::before, .effect::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-navbar);
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}
.nav_container {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex: 1;
}
.nav_container:nth-child(1) {  justify-content: flex-start;  }
.nav_item {
    color: var(--color-reverse);
    font-size: var(--font-size-navbar);
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.8s;
}
.nav_item:hover {  color: white;  }
.nav_header {
    font-size: var(--font-size-header);
    margin: 0 0 0 10px;
    color: transparent;
    transform: translateX(-50px);
    transition: color 0.25s, transform 0.75s;
}
.pageicon {
    height: 70px;
    width: 70px;
    margin: 0 0 0 10%;
    transition: transform 0.75s;
    cursor: pointer;
}
.nav_container:nth-child(1):hover .nav_header {
    color: var(--color-reverse);
    transform: translateX(0px);
}
.nav_container:nth-child(1):hover .pageicon {  transform: rotate(360deg);  }
.nav_item::before, .nav_item::after {  border-radius: 15px;  }
.nav_item::before {
    background: var(--color-third);
    z-index: -2;
}
.nav_item::after {
    background: var(--color-first);
    z-index: -1;
    transition-delay: 0.25s;
}
.nav_item:hover::before, .nav_item:hover::after {  transform: scaleX(1);  }
.login_button {
    background: linear-gradient(to right, var(--color-first), var(--color-third), var(--color-first));
    background-size: 200%;
    transition: background 0.6s;
    border-radius: 20px;
}
.login_button:hover {  background-position: right;  }
.nav_icon {
    cursor: pointer;
    color: var(--color-reverse);
    font-size: 28px !important;
}

.hamburger_container {  flex: 0.2;  }
.hamburger {
    display: none;
    height: 25px;
    width: 30px;
    cursor: pointer;
    margin-top: -6px;
}
.hamburger_line {
    height: 2px;
    width: 30px;
    margin: 6px 0px;
    background: var(--color-reverse);
}
.hamburger.show .hamburger_line:nth-child(1), .hamburger_line2:nth-child(1) {  transform: translate(0, 8px) rotate(45deg);  }
.hamburger.show .hamburger_line:nth-child(2), .hamburger_line2:nth-child(2) {  background: transparent;  }
.hamburger.show .hamburger_line:nth-child(3), .hamburger_line2:nth-child(3) {  transform: translate(0, -8px) rotate(-45deg);  }

.nav_container_hidden {  display: none;  }
.navbar.scroll {
    top: 0;
    height: var(--height-navbar-scroll);
    background: var(--color-blur);
    backdrop-filter: blur(3px);
}



.contact {
    position: absolute;
    width: 100%;
    height: 1000px;
}
.contact_page {
    position: fixed;
    background: transparent;
    height: 80%;
    width: 30%;
    transition: background 0.5s, transform 0.5s;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-reverse);
    overflow: hidden;
    min-height: 500px;
    z-index: 500;
    box-shadow: 0 10px 20px var(--color-block-shadow);
}
.contact_page1 {
    transform: translate(-1100px, 0);
    margin: 110px 0 0 20%;
    border-right: 1px var(--color-reverse) solid;
}
.contact_page2 {
    transform: translate(1100px, 0);
    margin: 110px 0 0 50%;
}
.contact_page1.swoosh, .contact_page2.swoosh {
    transform: translate(0px, 0px);
    background: var(--color-theme);
}
.circle {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: var(--color-first);
}
.circle1 {
    top: -170px;
    left: -150px;
}
.circle2 {
    bottom: -100px;
    right: -120px;
    background: var(--color-third);
}
.contacting {
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
.contact_icon {
    font-size: 4em !important;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-reverse);
    color: var(--color-theme);
}
.contact_header {
    color: var(--color-first);
    font-size: 1.3em;
}
.hamburger_2 {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 40px;
    width: 40px;
    transform: translate(-10px, 20px);
}
.hamburger_line2 {  background: var(--color-reverse);  }

.contactBox {  margin: 10px;  }
.contactBox input, .contactBox textarea {
    width: 100%;
    padding: 5px 0;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background: transparent;
    color: var(--color-reverse);
}
.contactBox input:focus, .contactBox textarea:focus,
.contactBox input:valid, .contactBox textarea:valid {
    border-bottom: 2px solid var(--color-first);  
}
.contactBox span {
    position: absolute;
    left: 10px;
    top: 0;
    padding: 5px 0;
    margin: 10px 0;
    color: #666;
    pointer-events: none;
}
.contactBox input:focus ~ span, .contactBox textarea:focus ~ span,
.contactBox input:valid ~ span, .contactBox textarea:valid ~ span {
    color: var(--color-first);
    transform: translate(0, -20px);
    font-size: 0.8em;
}
.contact_button {
    background: linear-gradient(to right, var(--color-third), var(--color-second), var(--color-first));
    background-size: 400%;
    transition: background 0.6s;
}
.contact_button:hover {  background-position: right;  }



@media screen and (max-width: 1100px) {
    .nav_item, .nav_header {  display: none;  }
    .nav_container_hidden {
        top: 0;
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 60vh;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(1500px);
        display: flex;
        background: var(--color-blur);
        backdrop-filter: blur(10px);
        transition: transform 0.75s ease-out;
    }
    .nav_container_hidden.show {  transform: translateX(0);  }
    .nav_item_hidden {
        font-size: 1.2em;
        padding: 5px 10px;
        cursor: pointer;
        color: var(--color-reverse);
    }
    .nav_item_hidden::before {
        background: var(--color-first);
        height: 2px;
        transform-origin: left;
    }
    .nav_item_hidden:hover::before {  transform: scaleX(1);  }
    .hamburger {
        display: block;
        z-index: 2000;
    }

    .contact_page1 {  display: none;  }
    .contact_page2 {  height: 500px; width: 80%; margin: 150px 10%;  }
    .contactInfo {  flex-direction: column;  }
}